.feed {
    display: flex;
    padding: 5px 5px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 33%;
    top: 0px;
    border: 1px solid transparent;
}

@media screen and (max-width: 425px) {

    .feed {
        display: flex;
        padding: 5px 5px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 17%;
        top: 0px;
        border: 1px solid transparent;
    }

}