 .story {
     position: absolute;
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 120px;
     height: 200px;
     box-shadow: 0px 5px 17px 0.7px rgba(0, 0, 0, 0.75);
     border-radius: 10px;
     margin-right: 10px;
     transition: transform 100ms ease-in;
     cursor: pointer;
 }

 .story:hover {
     transform: scale(1.07);

 }




 .story {
     position: relative;
     border: 20px;
     color: white;
     left: 40px;
 }

 .story_avatar {
     margin: 10px;
     border: 1px solid #208ef8;
 }


 @media screen and (max-width: 425px) {

     .story {
         position: absolute;
         background-position: center center;
         background-size: cover;
         background-repeat: no-repeat;
         width: 120px;
         height: 200px;
         box-shadow: 0px 5px 17px 0.7px rgba(0, 0, 0, 0.75);
         border-radius: 10px;
         margin-right: 10px;
         transition: transform 100ms ease-in;
         cursor: pointer;
     }

     .story:hover {
         transform: scale(1.07);

     }




     .story {
         position: relative;
         border: 20px;
         color: white;
         left: 220px;
     }

     .story_avatar {
         margin: 10px;
         border: 1px solid #208ef8;
     }

 }